# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used languages in Data Science include:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. Seaborn
6. TensorFlow
7. Keras
8. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |
| VS Code            |
| IBM Watson Studio  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [2]:
# This cell will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries in Data Science.
* List open-source Data Science tools.
* Demonstrate basic arithmetic operations in Python.
* Convert units using Python code.

## Author
DHANASEKAR V